# Django
Django>=2.2.16,<3.0

django-filter==2.4.0
drf-yasg==1.20.0
djangorestframework==3.12.1
djangorestframework-bulk==0.2.1

simpl-users==0.8.4


# Configuration
django-environ==0.4.5
django-secure==1.0.2
whitenoise==5.2.0

# Models
django-model-utils==2.4

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.43.0

# REST user authenticate
django-cors-headers==3.5.0
django-rest-auth==0.9.5

# Python-PostgreSQL Database Adapter
psycopg2-binary==2.8.6

# Memcache
python-memcached==1.59

# Unicode slugification
django-autoslug==1.9.8

# Time zones support
pytz==2020.1

# Celery support
redis==3.5.3
django-redis==4.12.1

# Celery
celery==4.4.7

# Nicer CLI Interface
#click==6.7
django-click==2.2.0

# Gunicorn
gunicorn==21.2.0
aiohttp<2.0

# Testing related
django-test-plus==1.4.0
factory_boy==3.1.0
faker==4.14.0

# pytest!
pytest==6.1.1
pytest-cov==2.10.1
pytest-django==3.10.0

# improved REPL
ipdb==0.13.4
rollbar==0.15.1

# Logging
git+https://github.com/revsys/jslog4kube.git@v1.0.6

gevent==23.9.1
django-db-geventpool==3.2.4

django-extensions==3.0.9

# Git versioning
bumpversion==0.5.3
