# Django
Django>=2.2.14,<3.0

django-filter==2.2.0
drf-yasg==1.17.1
djangorestframework==3.9.4
djangorestframework-bulk==0.2.1

#simpl-users==0.7.6
git+https://github.com/simplworld/simpl-users@6-django-2.0

# Configuration
django-environ==0.4.5
django-secure==1.0.2
whitenoise==5.0.1

# Models
django-model-utils==2.4

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.41.0

# REST user authenticate
django-cors-headers==3.3.0
django-rest-auth==0.9.5

# Python-PostgreSQL Database Adapter
psycopg2-binary==2.8.5

# Memcache
python-memcached==1.59

# Unicode slugification
django-autoslug==1.9.7

# Time zones support
pytz==2020.1

# Celery support (needed for Thorn)
redis==3.5.2
django-redis==4.12.1

# Celery
celery==4.3.0

# Nicer CLI Interface
#click==6.7
django-click==2.1.0

# Gunicorn
gunicorn==20.0.4
aiohttp<2.0

# Testing related
django-test-plus==1.4.0
factory_boy==2.12.0
faker==4.0.3
flake8==3.7.9

# pytest!
pytest==5.4.1
pytest-cov==2.8.1
pytest-django==3.9.0

# improved REPL
ipdb==0.13.2
rollbar==0.15.0

# Logging
git+https://github.com/revsys/jslog4kube.git@v1.0.4

gevent==20.5.1
django-db-geventpool==3.2.1

django-extensions==2.2.9

# Git versioning
bumpversion==0.5.3
