{% extends "simpl/scenarios/base.html" %}

{% block title %}
  Scenario List
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Scenario List <small>{% if paginator %}({{ paginator.count }} total){% endif %}</small></h1>
  </header>

  <p><a class="btn btn-primary" href={% url "simpl:scenario_create" %}>Create New Scenario</a></p>

  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for scenario in scenario_list %}
      <tr>
        <td>
          <a href="{% url 'simpl:scenario_detail' scenario.pk %}">{{ scenario }}</a>
        </td>
        <td>
          <a class="btn btn-default" href="{% url 'simpl:scenario_update' scenario.pk %}">Update</a>
          <a class="btn btn-danger" href="{% url 'simpl:scenario_delete' scenario.pk %}">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No Scenarios yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% comment %}
  PAGINATION
  {% endcomment %}

  {% include "includes/pagination.html" %}
</div>
{% endblock inner_content %}
