{% extends "simpl/webhooks/base.html" %}

{% block title %}
  Webhook Log List
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Webhook Log List <small>{% if paginator %}({{ paginator.count }} total){% endif %}</small></h1>
  </header>

  <p><a class="btn btn-primary" href={% url "simpl:webhook_log_create" %}>Create New Webhook Log</a></p>

  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for webhook_log in webhook_log_list %}
      <tr>
        <td>
          <a href="{% url 'simpl:webhook_log_detail' webhook_log.pk %}">{{ webhook_log }}</a>
        </td>
        <td>
          <a class="btn btn-default" href="{% url 'simpl:webhook_log_update' webhook_log.pk %}">Update</a>
          <a class="btn btn-danger" href="{% url 'simpl:webhook_log_delete' webhook_log.pk %}">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No Webhook Logs yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% comment %}
  PAGINATION
  {% endcomment %}

  {% include "includes/pagination.html" %}
</div>
{% endblock inner_content %}
