{% extends "simpl/webhooks/base.html" %}

{% block title %}
  Delete WebhookLog {{ webhook_log }}
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Delete WebhookLog <small>{{ webhook_log }}</small></h1>
  </header>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete {{ webhook_log }}?</p>
    <button class="btn btn-primary" type="submit">Confirm</button>
    <a class="btn btn-default" href={% url "simpl:webhook_log_detail" webhook_log.pk %}>Cancel</a>
  </form>
</div>
{% endblock inner_content %}
