{% extends "simpl/rounds/base.html" %}

{% block title %}
  Delete Round {{ round }}
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Delete Round <small>{{ round }}</small></h1>
  </header>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete {{ round }}?</p>
    <button class="btn btn-primary" type="submit">Confirm</button>
    <a class="btn btn-default" href={% url "simpl:round_detail" round.pk %}>Cancel</a>
  </form>
</div>
{% endblock inner_content %}
