{% extends "simpl/rounds/base.html" %}

{% block title %}
  Round List
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Round List <small>{% if paginator %}({{ paginator.count }} total){% endif %}</small></h1>
  </header>

  <p><a class="btn btn-primary" href={% url "simpl:round_create" %}>Create New Round</a></p>

  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for round in round_list %}
      <tr>
        <td>
          <a href="{% url 'simpl:round_detail' round.pk %}">{{ round }}</a>
        </td>
        <td>
          <a class="btn btn-default" href="{% url 'simpl:round_update' round.pk %}">Update</a>
          <a class="btn btn-danger" href="{% url 'simpl:round_delete' round.pk %}">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No Rounds yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% comment %}
  PAGINATION
  {% endcomment %}

  {% include "includes/pagination.html" %}
</div>
{% endblock inner_content %}
