{% extends "simpl/phases/base.html" %}

{% block title %}
  Phase List
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Phase List <small>{% if paginator %}({{ paginator.count }} total){% endif %}</small></h1>
  </header>

  <p><a class="btn btn-primary" href={% url "simpl:phase_create" %}>Create New Phase</a></p>

  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for phase in phase_list %}
      <tr>
        <td>
          <a href="{% url 'simpl:phase_detail' phase.pk %}">{{ phase }}</a>
        </td>
        <td>
          <a class="btn btn-default" href="{% url 'simpl:phase_update' phase.pk %}">Update</a>
          <a class="btn btn-danger" href="{% url 'simpl:phase_delete' phase.pk %}">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No Phases yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% comment %}
  PAGINATION
  {% endcomment %}

  {% include "includes/pagination.html" %}
</div>
{% endblock inner_content %}
