{% extends "simpl/periods/base.html" %}

{% load bootstrap3 %}

{% block title %}
  Update Period
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Update Period <small>{{ period }}</small></h1>
  </header>

  <form class="form" action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-default" href={% url "simpl:period_list" %}>Cancel</a>
    <a class="btn btn-danger" href={% url "simpl:period_delete" period.pk %}>Delete</a>
  </form>
</div>
{% endblock inner_content %}
