{% extends "simpl/periods/base.html" %}

{% block title %}
  Delete Period {{ period }}
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Delete Period <small>{{ period }}</small></h1>
  </header>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete {{ period }}?</p>
    <button class="btn btn-primary" type="submit">Confirm</button>
    <a class="btn btn-default" href={% url "simpl:period_detail" period.pk %}>Cancel</a>
  </form>
</div>
{% endblock inner_content %}
