{% extends "left_sidebar.html" %}

{% block main_nav %}
<li class="dropdown-list" class="{% block menu_courses %}{% endblock menu_courses %}">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Courses
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="{% block menu_courses_code %}{% endblock menu_courses_code %}" role="presentation">
        <a href="{% url 'courses:code_list' %}">Codes</a>
      </li>
      <li class="{% block menu_courses_course %}{% endblock menu_courses_course %}" role="presentation">
        <a href="{% url 'courses:course_list' %}">Courses</a>
      </li>
      <li class="{% block menu_courses_group %}{% endblock menu_courses_group %}" role="presentation">
        <a href="{% url 'courses:group_list' %}">Course Groups</a>
      </li>
      <li class="{% block menu_courses_registration %}{% endblock menu_courses_registration %}" role="presentation">
        <a href="{% url 'courses:registration_list' %}">Registrations</a>
      </li>
    </ul>
  </div>
</li><!--/ end dropdown-list -->

<li class="dropdown-list" class="{% block menu_simpl %}active{% endblock menu_simpl %}">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      SIMPL
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="{% block menu_simpl_decision %}{% endblock menu_simpl_decision %}" role="presentation">
        <a href="{% url 'simpl:decision_list' %}">Decisions</a>
      </li>
      <li class="{% block menu_simpl_game %}{% endblock menu_simpl_game %}" role="presentation">
        <a href="{% url 'simpl:game_list' %}">Games</a>
      </li>
      <li class="{% block menu_simpl_period %}{% endblock menu_simpl_period %}" role="presentation">
        <a href="{% url 'simpl:period_list' %}">Periods</a>
      </li>
      <li class="{% block menu_simpl_phase %}{% endblock menu_simpl_phase %}" role="presentation">
        <a href="{% url 'simpl:phase_list' %}">Phases</a>
      </li>
      <li class="{% block menu_simpl_role %}{% endblock menu_simpl_role %}" role="presentation">
        <a href="{% url 'simpl:role_list' %}">Roles</a>
      </li>
      <li class="{% block menu_simpl_round %}{% endblock menu_simpl_round %}" role="presentation">
        <a href="{% url 'simpl:round_list' %}">Rounds</a>
      </li>
      <li class="{% block menu_simpl_run %}{% endblock menu_simpl_run %}" role="presentation">
        <a href="{% url 'simpl:run_list' %}">Runs</a>
      </li>
      <li class="{% block menu_simpl_scenario %}{% endblock menu_simpl_scenario %}" role="presentation">
        <a href="{% url 'simpl:scenario_list' %}">Scenarios</a>
      </li>
      <li class="{% block menu_simpl_webhook %}{% endblock menu_simpl_webhook %}" role="presentation">
        <a href="{% url 'simpl:webhook_list' %}">Webhooks</a>
      </li>
      <li class="{% block menu_simpl_world %}{% endblock menu_simpl_world %}" role="presentation">
        <a href="{% url 'simpl:world_list' %}">Worlds</a>
      </li>
    </ul>
  </div>
</li><!--/ end dropdown-list -->
{% endblock main_nav %}

{% block left_sidebar %}
<aside id="sidebar" role="complimentary">
  <div class="col-md-3">
    <h2>Sidebar Content</h2>

    <h3>SIMPL</h3>

    <nav id="sidebar-nav">
      <ul>

        <li class="{% block menu_decision%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:decision_list' %}">Decisions</a>
        </li>

        <li class="{% block menu_game%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:game_list' %}">Games</a>
        </li>

        <li class="{% block menu_period%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:period_list' %}">Periods</a>
        </li>

        <li class="{% block menu_phase%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:phase_list' %}">Phases</a>
        </li>

        <li class="{% block menu_role%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:role_list' %}">Roles</a>
        </li>

        <li class="{% block menu_round%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:round_list' %}">Rounds</a>
        </li>

        <li class="{% block menu_run%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:run_list' %}">Runs</a>
        </li>

        <li class="{% block menu_scenario%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:scenario_list' %}">Scenarios</a>
        </li>

        <li class="{% block menu_webhook%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:webhook_list' %}">Webhooks</a>
        </li>

        <li class="{% block menu_world%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:world_list' %}">Worlds</a>
        </li>

        {% comment %}
        <li class="{% block menu_result%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:result_list' %}">results</a>
        </li>

        <li class="{% block menu_webhook_log%}{% endblock %}" role="presentation">
          <a href="{% url 'simpl:webhook_log_list' %}">webhook_logs</a>
        </li>
        {% endcomment %}

      </ul>
    </nav>

    <h3>Courses</h3>
    <nav id="sidebar-nav">
      <ul>

        <li class="{% block menu_code%}{% endblock %}" role="presentation">
          <a href="{% url 'courses:code_list' %}">Codes</a>
        </li>

        <li class="{% block menu_course%}{% endblock %}" role="presentation">
          <a href="{% url 'courses:course_list' %}">Courses</a>
        </li>

        <li class="{% block menu_group%}{% endblock %}" role="presentation">
          <a href="{% url 'courses:group_list' %}">Course Groups</a>
        </li>

        <li class="{% block menu_registration%}{% endblock %}" role="presentation">
          <a href="{% url 'courses:registration_list' %}">Registrations</a>
        </li>

      </ul>
    </nav>

  </div>

</aside>
{% endblock left_sidebar %}
