{% extends "simpl/phases/base.html" %}

{% load bootstrap3 %}

{% block title %}
  Update Phase
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Update Phase <small>{{ phase }}</small></h1>
  </header>

  <form class="form" action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-default" href={% url "simpl:phase_list" %}>Cancel</a>
    <a class="btn btn-danger" href={% url "simpl:phase_delete" phase.pk %}>Delete</a>
  </form>
</div>
{% endblock inner_content %}
