{% extends "simpl/runs/base.html" %}

{% block title %}
  Delete Run {{ run }}
{% endblock %}

{% block inner_content %}
<div class="col-md-9">
  <header>
    <h1>Delete Run <small>{{ run }}</small></h1>
  </header>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete {{ run }}?</p>
    <button class="btn btn-primary" type="submit">Confirm</button>
    <a class="btn btn-default" href={% url "simpl:run_detail" run.pk %}>Cancel</a>
  </form>
</div>
{% endblock inner_content %}
